<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.iazasoft.yadw"
    android:versionCode="2"
    android:versionName="1.1" >

    <uses-sdk android:minSdkVersion="8" android:targetSdkVersion="8"/>

    <application
        android:icon="@drawable/date"
        android:label="@string/app_name" >
        <receiver android:name=".Yadw" android:label="@string/widgetname2x1">
    <intent-filter>
        <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
        <action android:name="com.iazasoft.yadw.WIDGET_UPDATE" />
        <action android:name="com.iazasoft.yadw.WIDGET_PREFS" />
    </intent-filter>
    <meta-data android:name="android.appwidget.provider"
               android:resource="@xml/yadw_info" />
</receiver>
<service android:enabled="true" android:name=".Yadw$UpdateService" />
<service android:enabled="true" android:name=".YadwMini$UpdateServiceMini" />
<activity android:name=".Prefs"></activity>
<activity android:name=".PrefsMini"></activity>
<receiver android:name=".YadwMini" android:label="@string/widgetname1x1">
    <intent-filter>
        <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
        <action android:name="com.iazasoft.yadw.WIDGET_UPDATE" />
        <action android:name="com.iazasoft.yadw.WIDGET_PREFS" />
    </intent-filter>
    <meta-data android:name="android.appwidget.provider"
               android:resource="@xml/yadwmini_info" />
</receiver>
    </application>

</manifest>